.id{
  align-items: center;
  border: 0cap solid white;
  justify-content: center;
}
.card{
  border: 1px solid blue;
  position: relative;
  align-items: center;
  color: red;
  background-color: white;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}