#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box{
  border: 7px double white;
  position: relative;
}

button{
  border: white;
  color: blue;
}

button:hover{
  color: green;
}
