#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.cart-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border: 2px solid white;
  align-items: center;
  border-radius: 8px;
}

.product,
.cart-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

button {
  padding: 4px 10px;
  cursor: pointer;
}
