#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}





.card {
  padding: 2em;
}


.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid white;
  border-top: 4px solid blue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-top: 15px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
