#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  border: 5px double red;
  height: 80vh;        
  overflow-y: auto;    
  padding: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 10px 0;
}

.card {
  text-align: center;
  padding: 20px;
}

