.card {
  padding: 15px;
  border: 1px solid white;
  border-radius: 8px;
  align-items: center;
  text-align: center;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}